.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
  }
  
  .navbar__logo {
    display: flex;
    align-items: center;
  }
  
  .navbar__logo-img {
    margin-left: 1.5rem;
    width: 300px;
    height: 30px;
  }
  
  .navbar__menu {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .navbar__menu-item {
    list-style: none;
  }
  
  .navbar__menu-item:hover a {
    color: #539091;
  }
  
  .navbar__menu-item a {
    color: #000; /* or your desired default color */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  
  .navbar__search-input {
    padding: 0.5rem;
    border-radius: 5px;
    border-color: #EDE9FD;
    width: 250px;
    height: 20px;
    box-shadow: none;
    border-width: 4px;
  }
  
  
  .navbar__contact-button {
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 5px;
    background-color: #31548F;
    color: #fff;
    cursor: pointer;
  }
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
    .navbar {
      flex-wrap: wrap;
    }
  
    .navbar__menu {
      margin-top: 1rem;
      gap: 0.5rem;
    }
  
    .navbar__search {
      flex: 1;
      margin-top: 1rem;
    }
  
    .navbar__contact-button {
      margin-top: 1rem;
    }
  }
  